[submodule "api-server"]
	path = api-server
	url = https://github.com/surfer-streaming-website/api-server
	branch = local
[submodule "front"]
	path = front
	url = https://github.com/surfer-streaming-website/front
	branch = dev
